{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="register-box">
        <div class="register-text-explanation">
            <h2>Bitte registrieren Sie sich</h2>
            <span >Sie benötigen einen Account um die Zeiterfassung starten zu können.<br>
            Anschließend werden Sie automatisch weitergeleitet</span>
        </div>
        <div>
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Passwort'
            }) }}
{#            {{ form_row(registrationForm.agreeTerms) }}#}

            <button type="submit" class="btn">Registrieren</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
